.header {
  height: 55px;
  background-color: rgba(129, 129, 129, 0.801);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-section {
  color: white;
  display: flex;
  align-items: center;
}

.right-section,
.nav-page {
  margin-right: 10px;
}